<!DOCTYPE html> 
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--> 
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]--> 
<head> 
 
	<!-- Basic Page Needs
  ================================================== --> 
	<meta charset="utf-8"> 
	<title>Archivist</title> 
	<meta name="description" content=""> 
	<meta name="author" content=""> 
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 
 
	<!-- Mobile Specific Metas
  ================================================== --> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
 
	<!-- CSS
  ================================================== --> 
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css"> 
 
	<!-- Favicons
	================================================== --> 
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico"> 
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png"> 
	<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png"> 
	<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png"> 
 
</head> 
<body> 
 
 
 
	<!-- Primary Page Layout
	================================================== --> 
 
	<!-- Delete everything in this .container and get started on your own site! --> 
 
	<div class="container"> 
		<div class="sixteen columns"> 
			<h1 class="six columns remove-bottom" style="margin-top: 20px;float:left;"><a href="/">Archivist</a></h1> 
			<p style="margin-top:0px;float:right;"><a  href="/admin">Login</a></p> <br  /><br />
			<p style="margin-top:0px;float:right;"><input type="text" />&nbsp;<a class="button" href="/search">Search</a></p> 
			<hr /> 
		</div> 
		<div class="alpha one-third column"> 
			<h3>Welcome!</h3> 
			<blockquote>This is the system you've been waiting for.</blockquote>
			<h4>Navigation</h4>
			<ul>
				<li><a href="/">All programs</a></li>
				<li>other places...</li>
			</ul>
		</div> 

		<div class="omega two-thirds column"> 
			{% block content%}{% endblock %}
		</div> 
 
	</div><!-- container --> 
 
 
 
	<!-- JS
	================================================== --> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
	<script src="{{ STATIC_URL }}js/tabs.js"></script> 
 
<!-- End Document
================================================== --> 
</body> 
</html>
